 
body{
    background-color: #ffffff;
}
h1{
    font-family: Playfair Display;
}
.maintext{
    color:red; 
    font-family:Concert One;
}
  
  .button1{
    color:green;
  }
  
  .button2{
    color:red;
  }
  
  .button3{
    color:blue;
  }
  
  .main{
    display: flex;
    margin-left: 10rem;
  }
  .btn { 
    box-sizing: border-box; 
    -webkit-appearance: none; 
       -moz-appearance: none; 
            appearance: none; 
    background-color: transparent; 
    border: 2px solid #e74c3c; 
    border-radius: 0.6em; 
    color: #e74c3c; 
    cursor: pointer; 
    display: inline; 
    align-self: center; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1; 
    margin: 20px; 
    margin-left: 90px;
    padding: 1.2em 2.8em; 
    text-decoration: none; 
    text-align: center; 
    text-transform: uppercase; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 700; 
  } 

  .third { 
    border-color: brown; 
    color: rgb(255, 167, 167); 
    box-shadow: 0 0 40px 40px brown inset, 0 0 0 0 brown; 
    transition: all 150ms ease-in-out; 
  } 
  .third:hover { 
    box-shadow: 0 0 10px 0 brown inset, 0 0 10px 4px brown; 
  }

